@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f1f5f9;
  --foreground: #1e293b;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, sans-serif;
}
